<head>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <!-- styles needed for carousel slider -->
  <link href="/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />
  <link href="/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" />

  <!-- bxSlider CSS file -->
  <link href="/assets/plugins/bxslider/jquery.bxslider.css" rel="stylesheet" />

  <!-- move to footer -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- <script>
    window.jQuery ||
      document.write(
        '<script src="assets/js/jquery/jquery-3.3.1.min.js">\x3C/script>'
      );
  </script> -->
  <script src="/assets/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/assets/js/vendors.min.js"></script>

  <!-- include custom script for site  -->
  <script src="/assets/js/main.min.js"></script>
</head>
<div class="header">
  <nav
    class="navbar fixed-top navbar-site navbar-light bg-light navbar-expand-md"
    role="navigation"
  >
    <div class="container">
      <div class="navbar-identity">
        <a href="/" class="navbar-brand logo logo-title">
          <span class="logo-icon"
            ><i class="icon icon-search-1 ln-shadow-logo"></i> </span
          >ROCHESTER<span>GARAGE </span>SALES
        </a>

        <button
          data-target=".navbar-collapse"
          data-toggle="collapse"
          class="navbar-toggler pull-right"
          type="button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 30 30"
            width="30"
            height="30"
            focusable="false"
          >
            <title>Menu</title>
            <path
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-miterlimit="10"
              d="M4 7h22M4 15h22M4 23h22"
            />
          </svg>
        </button>

        <button
          class="flag-menu country-flag d-block d-md-none btn btn-secondary hidden pull-right"
          href="#select-country"
          data-toggle="modal"
        >
          <span class="flag-icon flag-icon-us"></span>
          <span class="caret"></span>
        </button>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav ml-auto navbar-right">
          <li class="nav-item">
            <a href="/posts" class="nav-link"
              ><i class="icon-th-thumb"></i> All Ads</a
            >
          </li>
          <li class="dropdown no-arrow nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <span>John Doe</span> <i class="icon-user fa"></i>
              <i class="icon-down-open-big fa"></i
            ></a>
            <ul class="dropdown-menu user-menu dropdown-menu-right">
              <li class="active dropdown-item">
                <a href="account-home.html"
                  ><i class="icon-home"></i> Personal Home
                </a>
              </li>
              <li class="dropdown-item">
                <a href="account-myads.html"
                  ><i class="icon-th-thumb"></i> My ads
                </a>
              </li>
              <li class="dropdown-item">
                <a href="account-favourite-ads.html"
                  ><i class="icon-heart"></i> Favourite ads
                </a>
              </li>
              <li class="dropdown-item">
                <a href="account-saved-search.html"
                  ><i class="icon-star-circled"></i> Saved search
                </a>
              </li>
              <li class="dropdown-item">
                <a href="account-archived-ads.html"
                  ><i class="icon-folder-close"></i> Archived ads
                </a>
              </li>
              <li class="dropdown-item">
                <a href="account-pending-approval-ads.html"
                  ><i class="icon-hourglass"></i> Pending approval
                </a>
              </li>
              <li class="dropdown-item">
                <a href="statements.html"
                  ><i class="icon-money"></i> Payment history
                </a>
              </li>
              <li class="dropdown-item">
                <a href="login.html"><i class="icon-logout"></i> Log out </a>
              </li>
            </ul>
          </li>
          <li class="postadd nav-item">
            <a
              class="btn btn-block btn-border btn-post btn-danger nav-link"
              href="/posts/new"
              >Post Free Add</a
            >
          </li>
          <li class="dropdown lang-menu nav-item">
            <ul class="dropdown-menu dropdown-menu-right user-menu" role="menu">
              <li class="dropdown-item">
                <a class="active"> <span class="lang-name">English</span></a>
              </li>
              <li class="dropdown-item">
                <a><span class="lang-name">Dutch</span></a>
              </li>
              <li class="dropdown-item">
                <a><span class="lang-name">fran&#xE7;ais </span></a>
              </li>
              <li class="dropdown-item">
                <a><span class="lang-name">Deutsch</span></a>
              </li>
              <li class="dropdown-item">
                <a> <span class="lang-name">Arabic</span></a>
              </li>
              <li class="dropdown-item">
                <a><span class="lang-name">Spanish</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</div>
<!-- /.header -->
