<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- styles needed for carousel slider -->
    <link
      href="/assets/plugins/owl-carousel/owl.carousel.css"
      rel="stylesheet"
    />
    <link href="/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" />

    <!-- bxSlider CSS file -->
    <link
      href="/assets/plugins/bxslider/jquery.bxslider.css"
      rel="stylesheet"
    />

    <!-- move to footer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script>
      window.jQuery ||
        document.write(
          '<script src="assets/js/jquery/jquery-3.3.1.min.js">\x3C/script>'
        );
    </script> -->
    <script src="/assets/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/assets/js/vendors.min.js"></script>

    <!-- include custom script for site  -->
    <script src="/assets/js/main.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 200px;
      }
      .marker {
        background-image: url("/images/mapbox-icon.png");
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }

      .mapboxgl-popup {
        max-width: 200px;
      }

      .mapboxgl-popup-content {
        text-align: center;
        font-family: "Open Sans", sans-serif;
      }
    </style>
    <%- body -%>
    <!-- bxSlider Javascript file -->

    <script>
      $(".bxslider").bxSlider({
        pagerCustom: "#bx-pager",
      });
    </script>
    <script>
      var post =  <%- JSON.stringify(post) %>;
      mapboxgl.accessToken = 'pk.eyJ1IjoibWlrZWJ1dHRzMiIsImEiOiJjazNnaXVpZWwwMWI1M29vNnluazJoMTF6In0.hmXPyhGSnCZnGGsRRSzHnw';

      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: post.coordinates,
        zoom: 9
      });
        // create a HTML element for location markewr
        var el = document.createElement('div');
        el.className = 'marker';

        // make a marker and add to the map
        new mapboxgl.Marker(el)
        .setLngLat(post.coordinates)
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
        .setHTML('<h3>' + post.title + '</h3><p>' + post.location + '</p>'))
        .addTo(map);
    </script>
  </body>
</html>
