doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  .header
    nav.navbar.fixed-top.navbar-site.navbar-light.bg-light.navbar-expand-md(role='navigation')
      .container
        .navbar-identity
          a.navbar-brand.logo.logo-title(href='index.html')
            span.logo-icon
              i.icon.icon-search-1.ln-shadow-logo
            | BOOT
            span CLASSIFIED 
          button.navbar-toggler.pull-right(data-target='.navbar-collapse' data-toggle='collapse' type='button')
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 30 30' width='30' height='30' focusable='false')
              title Menu
              path(stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22')
          button.flag-menu.country-flag.d-block.d-md-none.btn.btn-secondary.hidden.pull-right(href='#select-country' data-toggle='modal')
            span.flag-icon.flag-icon-us
            span.caret
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-left
            li.flag-menu.country-flag.tooltipHere.hidden-xs.nav-item(data-toggle='tooltip' data-placement='bottom' title='Select Country')
              a.nav-link(href='#select-country' data-toggle='modal')
                span.flag-icon.flag-icon-us
                span.caret
          ul.nav.navbar-nav.ml-auto.navbar-right
            li.nav-item
              a.nav-link(href='category.html')
                i.icon-th-thumb
                |  All Ads
            li.dropdown.no-arrow.nav-item
              a.dropdown-toggle.nav-link(href='#' data-toggle='dropdown')
                span Jhon Doe
                i.icon-user.fa
                i.icon-down-open-big.fa
              ul.dropdown-menu.user-menu.dropdown-menu-right
                li.active.dropdown-item
                  a(href='account-home.html')
                    i.icon-home
                    |  Personal Home
                li.dropdown-item
                  a(href='account-myads.html')
                    i.icon-th-thumb
                    |  My ads
                li.dropdown-item
                  a(href='account-favourite-ads.html')
                    i.icon-heart
                    |  Favourite ads
                li.dropdown-item
                  a(href='account-saved-search.html')
                    i.icon-star-circled
                    |  Saved search
                li.dropdown-item
                  a(href='account-archived-ads.html')
                    i.icon-folder-close
                    |  Archived ads
                li.dropdown-item
                  a(href='account-pending-approval-ads.html')
                    i.icon-hourglass
                    |  Pending
                    |     &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;approval
                li.dropdown-item
                  a(href='statements.html')
                    i.icon-money
                    |  Payment history
                li.dropdown-item
                  a(href='login.html')
                    i.icon-logout
                    |  Log out
            li.postadd.nav-item
              a.btn.btn-block.btn-border.btn-post.btn-danger.nav-link(href='post-ads.html') Post Free Add
            li.dropdown.lang-menu.nav-item
              button.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown')
                span.lang-title EN
              ul.dropdown-menu.dropdown-menu-right.user-menu(role='menu')
                li.dropdown-item
                  a.active
                    span.lang-name English
                li.dropdown-item
                  a
                    span.lang-name Dutch
                li.dropdown-item
                  a
                    span.lang-name fran&ccedil;ais 
                li.dropdown-item
                  a
                    span.lang-name Deutsch
                li.dropdown-item
                  a
                    span.lang-name Arabic
                li.dropdown-item
                  a
                    span.lang-name Spanish


    block content
